database:
  production:
    url: postgres://db-url

devise:
  secret_key: `$ rails secret`
  pepper: `$ rails secret`

# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base: `$ rails secret`
